body {
    background-color: #1e1e1e;
    color: #dcdcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.container {
    text-align: center;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 65%;
}

/* .centered-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.above-center {
    position: absolute;
    top: 27%;
    transform: translateY(-30%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-wrapper input {
    flex: 1;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #555;
    background-color: #3a3a3a;
    color: #dcdcdc;
    font-size: 16px;
    width: 100%;
    height: 40px;
    line-height: 20px;
}

input[type="text"]::placeholder {
    color: #dcdcdc;
}

select {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 0;
    background-color: #3a3a3a;
    color: #dcdcdc;
}

.toggle {
    margin-right: 1px;
    padding: 15px 30px;
    border: none;
    background-color: #6c63ff;
    transition: background-color 0.3s ease;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 61px;
    /* border-radius: 10px 0 0 10px; */
}

.toggle:hover {
    background-color: #5753c9;
}

.button {
    padding: 15px 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #6c63ff;
    transition: background-color 0.3s ease;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    height: 61px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5753c9;
}

/* .disclaimer {
    margin-top: 20px;
    font-size: 12px;
    color: #a8a8a8;
} */

.below-container {
    position: absolute;
    top: 44%;
}

.content {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.content-card,
.download-card {
    width: 50%;
    box-sizing: border-box;
}

.content-card {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.picture-card {
    text-align: center;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-bottom: 20px;
}

.image {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-card {
    text-align: center;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-bottom: 10px;
}

.description {
    text-align: justify;
    font-size: 14px;
    color: #a8a8a8;
    margin-top: 20px;
}

.download-card {
    margin: 0;
    flex: 1;
    text-align: center;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-right: 20px;
}

.options {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-card {
    text-align: justify;
    width: 200px;
    margin-right: 20px;
}

.option span {
    font-size: 16px;
}

.option button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.option button:hover {
    background-color: #5753c9;
}